.fileButton {
	display:block;
}

.fileTitle{
	margin-bottom:0px
}

body{
	font-family:Verdana;
}

h1{
	font-family:Verdana;
	font-size:3em;
}

h2{
	font-size:2.4em;
}

#tagline{
	margin-top:-20px;
	font-family:Verdana;
}

#notSigned{
	margin-top:100px;
	font-size:.85em;
}

#container{
	width:800px;
	margin:auto;
	margin-top:100px;
	text-align:center;
}

#container2{
	width:800px;
	margin:auto;
	margin-top:10px;
	text-align:left;
}

#container3{
	
}

.error{
	color:red;
	font-size:.7em;
	margin-top:5px;
}

.logout{
	display:block;
	float:right;
	font-size:.9em;
	font-style:bold;
	color:red;
	
}

#UploadText{
	font-size:2em;
	font-style:bold;
	margin-top:60px;
}

.uploadButton{
	display:block;
	margin-left:4px;
	margin-left:20px;
}